<h2><%= equipe ? 'Editar Equipe' : 'Nova Equipe' %></h2>
<form method="POST" action="<%= equipe ? `/equipes/${equipe.id}` : '/equipes' %>">
  <label>Nome da Equipe: <input type="text" name="nomeEquipe" value="<%= equipe ? equipe.nomeEquipe : '' %>"></label><br>
  <label>Responsável: <input type="text" name="responsavel" value="<%= equipe ? equipe.responsavel : '' %>"></label><br>
  <label>Contato: <input type="text" name="contato" value="<%= equipe ? equipe.contato : '' %>"></label><br>
  <button type="submit"><%= equipe ? 'Atualizar' : 'Cadastrar' %></button>
</form>
