<% layout('layout') -%>
<h2>Feedbacks</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Usuário</th>
    <th>Simulação</th>
    <th>Nota</th>
    <th>Comentários</th>
  </tr>
  <% feedbacks.forEach(feedback => { %>
    <tr>
      <td><%= feedback.id %></td>
      <td><%= feedback.usuarioId %></td>
      <td><%= feedback.simulacaoId %></td>
      <td><%= feedback.nota %></td>
      <td><%= feedback.comentarios %></td>
    </tr>
  <% }) %>
</table>
