<% layout('layout') -%>
<h2>Resultados</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Usuario</th>
    <th>Simulação</th>
    <th>Status</th>
    <th>Data</th>
  </tr>
  <% resultados.forEach(resultado => { %>
    <tr>
      <td><%= resultado.id %></td>
      <td><%= resultado.usuarioId %></td>
      <td><%= resultado.simulacaoId %></td>
      <td><%= resultado.status %></td>
      <td><%= resultado.dataResultado %></td>
    </tr>
  <% }) %>
</table>
